node_modules
.git
.gitignore
.env.local
.env.*.local
dist
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.turbo
.env
.env.*.local
coverage
.storybook
src/tests
**/*.spec.ts
**/*.test.ts
playwright/
.github
playwright.config.ts
